header {
    background-color:#402C20;
    color: #fff;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    margin-bottom: 0px;
    text-align: center
}

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);


body{
    width: 800px;
    
}
section{
    width: 640px;
    display: inline-block;
    padding: 30px;
    margin: 30px;
    margin-bottom: 0px;
}
nav {background-color: #BA8F66;
    height: 80px;
    text-align: center;
    margin: 30px;
    
}

nav ul li {
    display: inline-block;
    margin: 20;
}

a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
  }

a.effect-underline:after {
        content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 1px solid;
      margin-top: 10px;
      opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }
    
     a.effect-underline:hover:after {
      opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
